h1 { color: red; }

.active { color: blue; }

.blackedOut { background-color: black; }

/*table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    margin-right: 0.5em;
}*/

.cell {
  position: relative;
  display: inline-block;
}
.value {
    position: absolute;;
    left: 3em;
}
.numbers {
    position: absolute;
    left: 0px;
    top: 0px;
}
